.header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding: 0 20px;
}

.greeting {
  h1 {
    font-size: 24px;
    font-weight: 600;
    color: #1f2937;
    margin: 0;
  }
}


