/* Основной контейнер Header */

.header {
  width: 500px; /* Устанавливаем авто ширину для списка, чтобы он не растягивался */
  display: flex;
  //flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: linear-gradient(90deg, #6a11cb 0%, #2575fc 100%); /* Градиентный фон */
  font-family: 'Inter', sans-serif; /* Используем подключенный шрифт */
}

.logo {
  width: 60px;
  height: 60px; /* Размер логотипа */
}

.navbar ul {
  list-style: none;
  display: flex; /* Элементы списка должны быть расположены в ряд */
  gap: 30px; /* Отступы между пунктами меню */
  margin: 0; /* Убираем маргин на уровне ul */
  padding: 0; /* Убираем паддинг на уровне ul */

}

.navbar li a {
  color: black; /* Цвет текста */
  text-decoration: none; /* Убираем подчеркивание */
  font-weight: 500;
}

.navbar li a:hover {
  text-decoration: underline; /* Подчеркивание при наведении */
}

.Auth {
  display: flex; /* Размещаем кнопки в ряд */
  gap: 10px; /* Расстояние между кнопками */
}

.signIn button,
.signUp button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.signIn button:hover,
.signUp button:hover {
  background-color: #333; /* Цвет фона при наведении */
}